<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" default="192.168.1.10"/>
  <arg name="geomagic_driver" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="vision" default="false"/>

  <!-- Kinova Gen3 driver -->
  <include file="$(find kortex_driver)/launch/kortex_driver.launch">
    <arg name="start_rviz" value="false"/>
    <arg name="start_moveit" value="false"/>
    <arg name="ip_address" value="$(arg robot_ip)"/>
    <arg name="vision" value="$(arg vision)"/>
  </include>

  <!-- Geomagic Touch URDF + TF -->
  <group ns="geomagic">
    <param name="robot_description" textfile="$(find geomagic_description)/urdf/geomagic.urdf"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp_geomagic"/>
  </group>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_geomagic_base"
        args="0.5 0 0.25 0 0 0 base_link base"/>

  <!-- Geomagic Touch hardware driver (OpenHaptics HD API, torque mode for joint feedback) -->
  <node if="$(arg geomagic_driver)" pkg="geomagic_control" type="omni_cartesian" name="geomagic_node" output="screen">
    <param name="torque_mode" value="true"/>
    <param name="force_topic" value="/arm/force_feedback"/>
    <param name="omni_name" value="/geomagic"/>
  </node>

  <!-- Joint-to-joint teleop + torque feedback + gripper -->
  <node pkg="kinova_geomagic_demo" type="geomagic_kinova_teleop.py" name="geomagic_kinova_teleop" output="screen">
    <param name="robot_description_param" value="/my_gen3/robot_description"/>
    <!-- Joint teleop tuning -->
    <param name="joint_scale" value="3.0"/>
    <param name="joint_gain" value="1.5"/>
    <param name="max_joint_speed_deg_s" value="25.0"/>
    <!-- Torque feedback tuning (values in mNm for HD API) -->
    <param name="torque_scale" value="30.0"/>
    <param name="torque_filter_alpha" value="0.2"/>
    <param name="max_torque_mNm" value="400.0"/>
    <param name="gravity_compensate" value="true"/>
  </node>

  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz"
        args="-d $(find kinova_geomagic_demo)/rviz/demo.rviz" output="screen"/>
</launch>
